@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
	--sl-hue-orange: 25;
	--sl-color-orange-low: hsl(var(--sl-hue-orange), 100%, 15%);
	--sl-color-orange: hsl(var(--sl-hue-orange), 100%, 60%);
	--sl-color-orange-high: hsl(var(--sl-hue-orange), 100%, 90%);
	--sl-hue-blue: 260;
	--sl-color-blue-low: hsl(var(--sl-hue-blue), 72%, 15%);
	--sl-color-blue: hsl(var(--sl-hue-blue), 72%, 50%);
	--sl-color-blue-high: hsl(var(--sl-hue-blue), 72%, 90%);
	--sl-hue-accent: var(--sl-hue-blue);
	--sl-color-accent-low: var(--sl-color-blue-low);
	--sl-color-accent: var(--sl-color-blue);
	--sl-color-accent-high: var(--sl-color-blue-high);

	--sl-color-white: #ffffff;
	--sl-color-gray-1: #ffffff;
	--sl-color-gray-2: #ffffff;
	--sl-color-gray-3: #ffffff;
	--sl-color-gray-4: #1e1e1e;
	--sl-color-gray-5: #292929;
	--sl-color-gray-6: rgb(9, 0, 20,0.99);
	--sl-color-black: #090016;

	--tauri-transition-speed: 100ms;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

input{
    outline: none !important;
}
input:hover{
    outline: none !important;
    border: none !important;
}

.heading-link::after {
	content: '#';
	opacity: 0;
	transition: var(--tauri-transition-speed);
}

.heading-link:hover::after {
	color: var(--sl-color-text-accent);
	opacity: 1;
}

.heading-link {
	text-decoration: none;
	color: var(--sl-color-white) !important;
}

.hero > img {
	animation: 1.5s intro;
	background-color: rgb(133, 87, 0,0.5);
	border-radius: 50%;
	box-shadow: 0 0 10px white;
	padding: 10px;
	opacity: 1;
    filter: invert(1);
}

#main-text{
    color: transparent!important;
    background-image: linear-gradient(71.78deg,#c23a00 27.87%,rgba(125, 125, 125, 0.72) 52.56%,#0292ba 74.58%);
    -webkit-background-clip: text!important;
    font-family: 'Rubik';
	font-weight: 900 !important;
}
html[data-theme='light'] .hero > img {
	filter: invert(0);
}

html[data-theme='light'] #main-text{
    background-image: linear-gradient(71.78deg,#1700c2 27.87%,rgb(94, 1, 94) 52.56%,red 74.58%);
}

@keyframes intro {
	0% {
		scale: 1.4;
		opacity: 0;
	}

	80% {
		scale: 0.9;
	}

	100% {
	}
}

@media (prefers-reduced-motion) {
	* {
		transition: none !important;
	}
}