@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400&display=swap');

*{
	font-family: 'Noto Sans Thai';
}
:root {
	--sl-color-accent: rgb(91, 0, 70);
	--sl-color-gray-6: #090016;
	--sl-color-black: #090016;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent: rgb(32, 3, 127);
	--sl-color-gray-7: #eeeeee;
	--sl-color-black: #eeeeee;
}

::-webkit-scrollbar{
	width: 0;
}
input{
	outline: none !important;
}
select{
	outline: none !important;
}

.main-text{
    color: transparent!important;
    background-image: linear-gradient(71.78deg,#c23a00 27.87%,rgba(125, 125, 125, 0.72) 52.56%,#0292ba 74.58%);
    -webkit-background-clip: text!important;
    font-family: 'Rubik';
	font-weight: 900 !important;
}

html[data-theme='light'] .main-text{
    background-image: linear-gradient(71.78deg,#1700c2 27.87%,rgb(94, 1, 94) 52.56%,red 74.58%);
}
.main-h{
	font-size: 1.1em;
}
.hero > img {
	animation: 3s intro;
	opacity: 0.9;
	filter: invert(1) drop-shadow(0 0 3rem rgb(0, 0, 184,0.6));
	
}

html[data-theme='light'] .hero > img {
	filter: invert(0) drop-shadow(0 0 3rem rgb(131, 78, 0,0.6));
}