@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    font-family: 'Rubik', sans-serif;
}
:root {
	--sl-hue-orange: 42;
	--sl-color-orange-low: hsl(var(--sl-hue-orange), 100%, 15%);
	--sl-color-orange: hsl(var(--sl-hue-orange), 100%, 60%);
	--sl-color-orange-high: hsl(var(--sl-hue-orange), 100%, 90%);
	--sl-hue-blue: 250;
	--sl-color-blue-low: hsl(var(--sl-hue-blue), 72%, 15%);
	--sl-color-blue: hsl(var(--sl-hue-blue), 72%, 50%);
	--sl-color-blue-high: hsl(var(--sl-hue-blue), 72%, 90%);
	--sl-hue-accent: var(--sl-hue-blue);
	--sl-color-accent-low: var(--sl-color-blue-low);
	--sl-color-accent: var(--sl-color-blue);
	--sl-color-accent-high: var(--sl-color-blue-high);

	--sl-color-white: #eeeeee;
	--sl-color-gray-1: #eeeeee;
	--sl-color-gray-2: #eeeeee;
	--sl-color-gray-3: #8b8b8b;
	--sl-color-gray-4: #585858;
	--sl-color-gray-5: #383838;
	--sl-color-gray-6: #090016;
	--sl-color-black: #090016;

	/* Custom */
	--tauri-transition-speed: 100ms;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

input{
    outline: none !important;
}
input:hover{
    outline: none !important;
    border: none !important;
}
/* Heading link styling */
.heading-link::after {
	content: '#';
	padding-inline-start: 0.25em;
	opacity: 0;
	transition: var(--tauri-transition-speed);
}

.heading-link:hover::after {
	color: var(--sl-color-text-accent);
	opacity: 1;
}

.heading-link {
	text-decoration: none;
	color: var(--sl-color-white) !important;
}

.hero > img {
	animation: 2s intro;
	opacity: 1;
    filter: invert(1);
}

#main-text{
    color: transparent!important;
    background-image: linear-gradient(71.78deg,#c23a00 27.87%,rgba(125, 125, 125, 0.72) 52.56%,#0292ba 74.58%);
    -webkit-background-clip: text!important;
    font-family: 'Rubik';
}

html[data-theme='light'] .hero > img {
	filter: invert(0);
}

html[data-theme='light'] #main-text{
    background-image: linear-gradient(71.78deg,#1700c2 27.87%,rgb(94, 1, 94) 52.56%,red 74.58%);
}

@keyframes intro {
	0% {
		scale: 1.4;
		opacity: 0;
	}

	80% {
		scale: 0.9;
	}

	100% {
	}
}

@media (prefers-reduced-motion) {
	* {
		transition: none !important;
	}
}