---

---
<div class="err">
    <h1 class="my-10">Error cannot find this page</h1>
    <a class="" href="/">Back</a>
</div>

<style lang="scss">
    .err{
        color: var(--sl-color-white);
    }

</style>