---

---

<div class="yo">
   <div class="br"></div>
   <p>© 2023 DOSE FROM ANOTHER PLANET</p>
</div>

<style lang="scss">
    .yo{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .br{
            width: 100%;
            margin-top: 20px;
            height: 0.5px;
            background-color: rgb(132, 132, 132);
        }
        p{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-top: 20px;
        }
    }
    
    
</style>