---

---

<div class="stacks">
    <iframe
    src="https://www.youtube.com/embed/dQw4w9WgXcQ">
    </iframe>
</div>

<style lang="scss">
    iframe{
        aspect-ratio: 16/9;
        border: none;
        width: 80%;
        max-width: 720px;
        box-shadow: 0 0 10px rgb(63, 63, 63);
        opacity: 0.7;
        border-radius: 10px;
    }
</style>